# Database files
*.db
*.bak

# Build files
build/
dist/
soup_dumpling.egg-info/
.pytest_cache/

# Compiled files
*.py[cod]

# API tokens
tokens/

# Other files
.idea/
*.log
*.out
debug

# macOS files
.DS_Store
